.cache
.config/go
.config/kde.org
.config/lazygit
.config/menus
.config/pulse
.config/session
.config/systemd
.config/vesktop
.config/vlc
.config/QtProject.conf
.config/baloofileinformationrc
.config/dolphinrc
.config/filetypesrc
.config/kiorc
.config/mimeapps.list
.config/pavucontrol.ini
.config/trashrc
.gnupg
.local/
.local
.mozilla/
.npm
.oh-my-zsh
.pki/
.ssh
.vim
.zen
Downloads
music
.bash_history
.bash_logout
.bash_profile
.bashrc
.node_repl_history
.viminfo
.zcompdump-foxComputer-5.9
.zcompdump-foxComputer-5.9.zwc
.zsh_history
.config/obs-studio
.config/htop
.config/aseprite
.config/btop
.config/obsidian
.rustup
.config/dconf
.config/GIMP
.config/dconf
.config/dconf
.config/libreoffice
personal/houseItems
video_temp
personal/programming/ImGui
.dotnet
.nuget
.renderdoc
.cargo/git
.cargo/registry
.cargo/.crates.toml
.cargo/.crates2.json
.cargo/.global-cache
.cargo/.package-cache
.cargo/.package-cache-mutate
.zshHistFile
.zcompdump
.config/Electron/Crashpad
.config/user-dirs.dirs
.config/user-dirs.locale
.config/gtk-3.0
.config/kritadisplayrc
.config/kritarc
.config/kritashortcutsrc
opt/qdirstat
personal/ProfessionalNotes
personal/programming/sprite_cutter
personal/programming/python-uv-example
personal/programming/python-uv-example
personal/programming/sprite_cutter
personal/programming/sprite_cutter_cpp
.config/QDirStat
Pictures
.wget-hsts
.config/tracy
opt
.nimble
go/pkg/mod
.config/cppman
personal/games/
package-lock.json
personal/schoolWork/
personal/programming/probe
