.cache
.cargo
.config/go/telemetry/local
.config/kde.org
.config/lazygit
.config/menus/applications-merged
.config/pulse
.config/session
.config/systemd/user/default.target.wants
.config/vesktop
.config/vlc
.config/QtProject.conf
.config/baloofileinformationrc
.config/dolphinrc
.config/filetypesrc
.config/kiorc
.config/mimeapps.list
.config/pavucontrol.ini
.config/trashrc
.gnupg
.local/share/Trash
.local
.mozilla/firefox
.npm
.oh-my-zsh
.pki/nssdb
.ssh
.vim
.zen
Downloads
music
.bash_history
.bash_logout
.bash_profile
.bashrc
.node_repl_history
.viminfo
.zcompdump-foxComputer-5.9
.zcompdump-foxComputer-5.9.zwc
.zsh_history
