window#waybar {
    background-color: #191726;
}

* {
    padding: 0;
    margin: 0;
    font-family: "FiraCode Nerd Font";
    font-size: 14px;
}

#window {
    color: #191726;
    background-color: #CDCBE0;
    padding: 0;
    margin-left: 7px;
}

#workspaces,
#cpu,
#memory,
#battery {
    color: #6e6a86;
    background-color: #191726;
    padding: 0;
    margin: 0;
}

#network,
#pulseaudio,
#clock.time,
#clock.date {
    color: #191726;
    background-color: #CDCBE0;
    padding: 0;
    margin: 0;
}

#custom-shutdown {
    color: #191726;
    background-color: #569FBA;
    padding: 0;
    margin: 0;
}

#custom-separator1\.blue {
    color: #569FBA!important;
    background-color: #191726!important;
    padding: 0;
    margin-right: 7px;
}

/* #custom#separatorwhite { */
/*     color: #CDCBE0; */
/*     background-color: #191726; */
/* } */
/**/
/* #custom#separatorblue { */
/*     color: #569FBA; */
/*     background-color: #CDCBE0; */
/* } */
/**/
/* #custom#inbetweenwhite { */
/*     color: #191726; */
/*     background-color: #CDCBE0; */
/* } */
/**/
/* #custom#inbetweengray { */
/*     color: #6e6a86; */
/*     background-color: #191726; */
/* } */

#battery.critical,
#memory.critical,
#cpu.critical {
    color: #d80000;
}

#battery.warning {
    color: orange;
}
